.carousel-home {
  width: 200%;
  animation: slide 50s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }

  100% {
    left: -95%;
  }
}